<div id="menu">
	<div class="link">
		<%= image_tag "icons/user.png" %>
	</div>

	
	<div class="link">
		<%= image_tag "icons/teared.png" %>
	</div>

	
	<div class="link">
		<%= image_tag "icons/draft.png" %>
	</div>

	
	<div class="link">
		<%= image_tag "icons/redact.png" %>
	</div>

	
	<div class="link">
		<%= image_tag "icons/local.png" %>
	</div>

	
	<div class="link">
		<%= image_tag "icons/love.png" %>
	</div>

	
	<div class="link">
		<%= image_tag "icons/settings.png" %>
	</div>


</div>