<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>

<p>
  <b>Cover:</b>
  <%= @article.cover %>
</p>

<%= image_tag @article.cover_url(:cover).to_s %>

<p>
  <b>User:</b>
  <%= @article.user_id %>
</p>

<p>
  <b>Is deleted:</b>
  <%= @article.is_deleted %>
</p>

<p>
  <b>Slug:</b>
  <%= @article.slug %>
</p>

<p>
  <b>Is draft:</b>
  <%= @article.is_draft %>
</p>

<p>
  <b>Category:</b>
  <%= @article.category_id %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
