<%= form_for(@pages_article) do |f| %>
  <% if @pages_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pages_article.errors.count, "error") %> prohibited this pages_article from being saved:</h2>

      <ul>
      <% @pages_article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :page_id %><br />
    <%= f.number_field :page_id %>
  </div>
  <div class="field">
    <%= f.label :article_id %><br />
    <%= f.number_field :article_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
