<!DOCTYPE html>
<html>
<head>
  <title>Unbound</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

	<%= render "layouts/partials/home_header" %>

	<%= render "homes/partials/home_menu" %>

	<%= yield %>

		<div id="container">
			<h4>Typical Arrangement</h4>
			<div class="first test"></div>
		</div>


<%= javascript_include_tag "application" %>



</body>
</html>
